/*        RESET            */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*      VARIABLES           */
:root {
  --title-font: manrope, sans-serif;
  --text-font: inter, sans-serif;
  --font-size-title: 42px;
  --font-size-h2: 24px;
  --font-size-a: 16px;
  --font_size-text: 16px;
  --font-color-white: white;
  --font-color-black: black;
  --background-color: #2c5f7a;
  --secondary-background-color: #53768d;
  --button_delete_red: red;
  --hover_color: rgb(31, 92, 119);
}

/*      LAYOUT GLOBAL       */
html {
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
}

/*        HEADER            */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  padding: 16px;
  color: var(--font-color-white);
  width: 100%;
  box-sizing: border-box;
}
/*        RESET            */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*      VARIABLES           */
:root {
  --title-font: manrope, sans-serif;
  --text-font: inter, sans-serif;
  --font-size-title: 42px;
  --font-size-h2: 24px;
  --font-size-a: 16px;
  --font_size-text: 16px;
  --font-color-white: white;
  --font-color-black: black;
  --background-color: #2c5f7a;
  --secondary-background-color: #53768d;
  --button_delete_red: red;
  --hover_color: rgb(31, 92, 119);
}

/*      LAYOUT GLOBAL       */
html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}

/*        HEADER            */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  padding: 16px;
  color: var(--font-color-white);
  width: 100%;
  box-sizing: border-box;
}

/*         MAIN             */
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/*        FOOTER            */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  padding: 12px;
  color: var(--font-color-white);
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

/*     CONTAINERS & SECTIONS*/
.main_nav_container {
  display: flex;
  flex: 1;
}

.main_container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 28px;
  width: 80%;
  font-size: var(--font-size-text);
  color: var(--font-color-black);
}

.main_container a {
  color: var(--font-color-black);
}

.main_gestion_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 36px;
}

.main_container_patient_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  width: 80%;
  font-size: var(--font-size-text);
  position: relative;
  gap: 36px;
}

.main_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*        FORMULAIRES       */
.search_form {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.input_form {
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--font-color-black);
  font-family: var(--text-font);
}

.patient {
  border: 2px solid var(--secondary-background-color);
  border-radius: 4px;
  width: 350px;
  max-width: 400px;
  padding: 16px;
  font-family: var(--text-font);
  box-shadow: 0 0 8px var(--secondary-background-color);
  height: auto;
}

.patient_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 72px;
}

.list_patient_container {
  display: flex;
  flex-direction: column;
}

.pagination_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fiche_patient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_profil_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.rendezvous_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_confirm {
  display: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.modal_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 0 8px var(--secondary-background-color);
  padding: 16px;
}

.modal_form_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.message_no_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var(--font-size-a);
  font-weight: bold;
}

.form_patient_rendezvous_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.form_patient_rendezvous {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
}

.add_patient {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add_patient_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
}

.add_rendezvous_container {
  display: flex;
  flex-direction: column;

  gap: 36px;
}

.message_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form_title,
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* nav elements */
nav {
  display: flex;
  flex-direction: column;
  background: var(--secondary-background-color);
  padding: 24px;
  color: var(--font-color-white);
  width: 20%;
  font-size: var(--font-size-a);
  gap: 16px;
}

/* title elements */
h1,
h2,
h3 {
  font-family: var(--title-font);
}

h1 {
  font-size: var(--font-size-title);
}

h2 {
  font-size: var(--font-size-h2);
}

/* list elements */
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  gap: 8px;
  font-family: var(--title-font);
}

.links_list_patient {
  color: var(--secondary-background-color);
  font-weight: bold;
}

/* links elements */
a {
  text-decoration: none;
  color: var(--font-color-white); /* Correction ici */
  font-family: var(--text-font);
  cursor: pointer;
}

a:hover {
  color: var(--hover_color);
}

/* styles elements */
hr {
  border-color: var(--secondary-background-color);
}

span {
  font-weight: bold;
}

/* buttons elements */
.form_button,
.button_modal_yes {
  border: none;
  border-radius: 4px;
  background: var(--secondary-background-color);
  color: var(--font-color-white);
  width: 80px;
  height: 28px;
}

.button_delete,
.button_modal_no {
  border: none;
  border-radius: 4px;
  background: var(--button_delete_red);
  color: var(--font-color-white);
  width: 80px;
  height: 28px;
}

/* message elements */
.green {
  color: green;
}

.red {
  color: red;
}

.error_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-h2);
}
