* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-font: manrope, sans-serif;
  --text-font: inter, sans-serif;
  --font-size-title: 42px;
  --font-size-a: 20px;
  --font_size-text: 16px;
  --font-color-white: white;
  --font-color-black: black;
  --background-color: #2c5f7a;
  --secondary-background-color: #7dadcc;
  --hover_color: rgb(31, 92, 119);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--background-color);
  padding: 16px;
  color: var(--font-color-white);
}

main {
  display: flex;
  padding: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-background-color);
  padding: 36px;
  color: var(--font-color-white);
  width: 20%;
  font-size: var(--font-size-a);
}

main {
  width: 80%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--background-color);
  padding: 12px;
  color: var(--font-color-white);
  flex-shrink: 0;
  width: 100%;
}

/* classes elements */
.main_aside_container {
  display: flex;
  flex: 1;
}

.main_container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 28px;
  width: 80%;
  font-size: var(--font-size-text);
}

.main_title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--font-color-black);
  font-family: var(--text-font);
}

.form-container input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

.main_patient_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
  font-family: var(--text-font);
}

.patient_container {
  border: 2px solid var(--secondary-background-color);
  border-radius: 4px;
  max-width: 400px;
  padding: 16px;
}

/* nav elements */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* title elements */
h1 {
  font-family: var(--title-font);
  font-size: var(--font-size-title);
}

h4 {
  font-size: 20px;
}

/* list elements */
ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  gap: 8px;
  font-family: var(--title-font);
}

/* links elements */
a {
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--text-font);
  cursor: pointer;
}

a:hover {
  color: var(--hover_color);
}

/* buttons elements */
.form_button {
  border: none;
  border-radius: 4px;
  background: var(--aside-color);
  color: var(--font-color-white);
  width: 72px;
  height: 28px;
}

/* message elements */
.green {
  color: green;
}

.red {
  color: red;
}
